div.auth-fail-message {
  color: red;
  width: 100%;
  box-sizing: border-box;
  background-color: pink;
  border: 2px dashed red;
  border-radius: 5px;
  padding: 15px;
  display: grid;
  place-items: center;
  min-height: 50px;
  text-align: center;
}
