.title-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.title-icon .image {
  width: 20%;
  line-height: 50%;
}

.title-icon h2 {
  margin: 0;
}
