.new-game {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-game .input-form {
  margin: 0;
}

.new-game input::placeholder {
  text-align: center;
}

.new-game .list-of-choices .choices {
  flex-direction: row;
  gap: 100px;
}

@media only screen and (max-width: 700px) {
  .new-game .input-form {
    margin-top: 25px;
  }
  .new-game .list-of-choices .choices {
    gap: 10px;
  }
}
