.dashboard {
  width: 100%;
}

.game {
  display: flex;
  justify-content: space-evenly;
}

.sort-room {
  max-width: 200px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.game-rooms {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
