/* styles/gameHistory.css */

.table-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.table-wrapper .title-page {
  top: 65px;
  z-index: 5;
}

.styled-table {
  margin-top: 50px;
  width: 90%;
  border-collapse: collapse;
  background-color: #f7f7f7;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.styled-table th {
  background: rgb(36, 37, 38);
  color: white;
  padding: 12px 15px;
  /* text-align: left; */
}

.styled-table td {
  padding: 12px 15px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}

.styled-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.styled-table .win {
  color: #4caf50;
  font-weight: bolder;
}

.styled-table .lose {
  color: #ff0000;
  font-weight: bolder;
}

.styled-table .draw {
  color: orange;
  font-weight: bolder;
}

@media only screen and (max-width: 500px) {
  .time-column {
    display: none;
  }

  .table-wrapper .title-page h1 {
    text-align: center;
    font-size: 25px !important;
  }

  .table-wrapper .title-page {
    top: 75px;
  }
}

@media only screen and (max-width: 600px) {
  .styled-table {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .table-wrapper .title-page h1 {
    font-size: 32px;
  }
}
