.profile-nav {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  color: wheat;
  height: 50px;
  cursor: default;
}

.profile-nav .icon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 2px;
}
