.sidebar {
  position: fixed;
  display: flex;
  width: 400px;
  height: 100%;
  background: rgb(36, 37, 38);
  padding-top: 60px;
  box-sizing: border-box;
  z-index: 1;
}

.open-from-left {
  animation: LeftToRight 0.25s ease;
}

.open-from-above {
  animation: TopToBottom 0.2s ease;
}

.option-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  background: rgb(28, 30, 33);
  padding: 5px;
  padding-bottom: 15px;
  gap: 5px;
}

.option-sidebar .profile,
.option-sidebar .search,
.option-sidebar .setting {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.option-sidebar .profile .icon .profile-icon {
  width: 2.7rem;
}

.option-sidebar .setting .icon,
.option-sidebar .search .icon {
  width: 33px;
}

/* .option-sidebar .icon:active {
  transform: scale(0.6);
} */

.option-sidebar .profile:hover,
.option-sidebar .search:hover,
.option-sidebar .setting:hover {
  background-color: #848484;
}

.option-sidebar .profile:active,
.option-sidebar .search:active,
.option-sidebar .setting:active {
  background-color: #535353;
  transform: scale(0.9);
}

.content-sidebar {
  padding: 10px;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar {
    flex-direction: column;
  }

  .option-sidebar {
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 100vw;
    background: black;
    padding: 0;
    padding-bottom: 0;
    gap: 5px;
  }

  .option-sidebar .profile,
  .option-sidebar .search,
  .option-sidebar .setting {
    place-items: center;
    width: 100%;
    height: 35px;
    margin-bottom: -2px;
    border-radius: 0;
    cursor: pointer;
  }

  .option-sidebar .profile::before {
    content: "Profile";
    color: white;
  }

  .option-sidebar .setting::before {
    content: "Settings";
    color: white;
  }

  .option-sidebar .search::before {
    content: "Search";
    color: white;
  }

  .option-sidebar .icon {
    display: none;
  }

  .option-sidebar .profile:hover,
  .option-sidebar .search:hover,
  .option-sidebar .setting:hover,
  .option-sidebar .profile:active,
  .option-sidebar .search:active,
  .option-sidebar .setting:active {
    background-color: transparent;
    transform: scale(1);
  }
}

/* @media only screen and (min-height: 900px) {
  .content-sidebar {
    height: 90%;
  }
} */
