.profile-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: white !important;
}

.profile h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.profile-picture {
  align-self: center;
  max-width: 230px;
  min-width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 3px solid black;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
}

.profile-picture img {
  background-color: white;
}

.user-bio {
  margin-top: 10px;
}

.about-user {
  display: grid;
  width: 100%;
}

.detail-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.profile-sidebar .icon {
  width: 20px;
}
